:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-secondary);
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--accent-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-hover);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

button:focus {
  outline: none;
}
